html{color:#000;
	background:#FFF; 
	padding:20px 0;
	font: 16px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}

#wrap {width:500px; margin:0 auto; background-color:#fff}

#header {width:60%; height:135px;clear:both;}

#content {width:100%;clear:both;}
#content_list{clear:both;}
#content_image{float:left;}
#content_main{float:left;}

table {width:100%;}
td{text-align:center;width:17%;}